<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<title>
		{% block title %}
		{% endblock title %}
	</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">
	{% include 'components/_style.html' %}
</head>

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">
	{% include 'components/_navbar.html' %}

	{% if messages %}
        <ul class="messages d-flex justify-content-center">
            {% for message in messages %}
            <li class="alert alert-{% if message.tags == 'error' %}danger {% else %}{{ message.tags }} {% endif %}" id="unordered_list">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

	<main>
		{% block main %}
		{% endblock main %}
	</main>

	{% include 'components/_footer.html' %}
	{% include 'components/_script.html' %}
</body>
</html>